<div class="flex min-h-0 items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="w-full max-w-md space-y-8">
    <h1>Edit Detail Form</h1>

    <form class="mt-8 space-y-6"  [formGroup]="myGroup">

      <label class="block">
        <span class="block text-sm font-medium text-slate-700 text-lg ">Name:</span>
        <div class="">
          <mat-form-field class="w-full h-0"
                          appearance="outline">
            <input
              type="text"
              formControlName="firstName"
              matInput
              placeholder="Enter Your Name">
          </mat-form-field>
        </div>
      </label>

    </form>


  </div>
</div>
