<div class="flex min-h-min items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="w-full max-w-md space-y-8">
    <div>
      <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">Sign in to your account</h2>
    </div>
    <form class="mt-8 space-y-6" (ngSubmit)="onSubmit()" [formGroup]="loginForm">

      <mat-form-field class="w-full h-0"
                      appearance="outline">
        <input
          type="email"
          id="username"
          formControlName='userEmail'
          name="username"
          matInput
          placeholder="Enter your Email id">
      </mat-form-field>
      <mat-form-field class="w-full"
                      appearance="outline">
        <input
          type="password"
          class="form-control"
          placeholder="Password"
          id="password"
          formControlName='password'
          name="password"
          matInput
          placeholder="Enter Password">
      </mat-form-field>


      <div>
        <button
          [disabled]="!loginForm.valid"
          type="submit"
          class="group relative flex w-full justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
          LogIn
        </button>
      </div>
    </form>
  </div>
</div>

