
input.ng-invalid.ng-touched {
  border: 1px solid red;
}

select.ng-invalid.ng-touched {
  border: 1px solid red;
}
.error {
  color: red;
}

:host::ng-deep ngx-intl-tel-input.iti {
  width: 100% !important;
}

ngx-intl-tel-input:hover{
  border: 1px solid black;
}
ngx-intl-tel-input{
  border: 1px solid #9E9E9E;
}

ngx-intl-tel-input.ng-invalid.ng-touched {
  border: 1px solid red;
}

:host::ng-deep.mat-mdc-text-field-wrapper {
  height: 40px;
}

::ng-deep.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
  padding-top: 9px;
}

:host::ng-deep.mat-mdc-form-field-flex {
  height: 100%;
}
:host::ng-deep.iti{
  width: 100%;
}
:host::ng-deep.iti--allow-dropdown input, .iti--allow-dropdown input[type=tel], .iti--allow-dropdown input[type=text], .iti--separate-dial-code input, .iti--separate-dial-code input[type=tel], .iti--separate-dial-code input[type=text]{
  width: 100%;
  outline: none;
}



